<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Workflow</title>
</head>
<body>
    {{> partials/navigation}}
    <h1>Webpack, Sass, & Template Engine</h1>
    <h2>Subtitulo</h2>
    <img src="./static/img/beglogo.jpg" alt="Logo Beg">

    {{>partials/footer}}
</body>
</html>